@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  h1 {
    font-family: "Fredoka One", sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 300px;
    font-size: 16px;
  }
  
  button {
    background-color: #CF5C09;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #47c1f7;
  }
  